body{
    margin: auto;
    font-family: 'Noto Sans JP', sans-serif;
     background-image: linear-gradient(to bottom , #E0E9FF, #E0E9FF, #92ABFC);
    color: #403236;
}

nav a{
    text-decoration: none;
    font-weight: 500;
    font-size: 1em;
    color: #403236;
}

nav a:hover{
    color: #92ABFC;
}

nav ul li{
    list-style-type: none;
    display: inline;
    padding-left: 20px;
}

nav{
    text-align: right;
    padding: 15px 175px 15px 0px;
    background: #fff;
    
}

#banner{
    float: right;
    opacity: .4;
}


h1{
    padding-left: 120px;
    font-size: 3.052em;
    font-weight: 700;
}


.paragraph{
    padding: 50px 140px 50px 140px;
    background-color: #ffffff;
    max-width: 675px;
    min-width: 200px;
}

p{
    font-size: 1.25em;
    font-weight: 400;
}

.clear{
    clear: both;
}

#collage li{
    display: inline-block;
    padding: 8px;
    opacity: .3;
    border-collapse: collapse;
}

#collage{
    text-align: center;
    padding: 4px;
   
    
}


footer {
    font-style: italic;
    font-size: 1em;
    text-align: center;
    padding: 1px;
    margin: 0;
}

main img{
  -moz-box-shadow:    2px 2px 3px 4px #403236;
  -webkit-box-shadow: 2px 2px 3px 4px #403236;
  box-shadow:         2px 2px 3px 4px #403236;
}

#right{
    float: right;
    padding: 30px;
    opacity: .3;
}